body {
    background-color: #E31C3D;
    margin: 0;
}

/* {
    border: 2px solid red;
}
/*---- header ------*/

header {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 100px;
    color:#E31C3D;
}

.emblema {
    width: 80px;
}

/*----- componentes -----*/

.info-componentes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.banda {
    padding: 50px;
    border-radius: 60px;
}

h3 {
    background-color: rgb(239,239,239);
    color: #E31C3D;
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin-top: 50px;
    margin-right: 40px;
    border-radius: 6px;
}

ul {
    color: rgb(239,239,239);
    text-align: justify;
    list-style: none;
    padding-right: 40px;
    margin-left: -40px;
}

ul .guitarrista:before {
    content: "🎸";
    display: inline-block;
    margin-right: 0.2rem;
}

ul .baixista:before {
    content: "🎸";
    display: inline-block;
    margin-right: 0.2rem;
}

ul .cantor:before {
    content: "🎤";
    display: inline-block;
    margin-right: 0.2rem;
}

ul .baterista:before {
    content: "🥁";
    display: inline-block;
    margin-right: 0.2rem;
}

.componente {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.sobre {
    padding-left: 30px;
    font-family: monospace;
    font-size: 12px;
}

/*----- história -----*/

.historia {
    margin: 0px 40px;
}

h2 {
    background-color: rgb(239,239,239);
    color: #E31C3D;
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    border-radius: 6px;
}

p {
    color: rgb(239,239,239);
    text-align: justify;
    font-family: monospace;
    font-size: 12px;
}

/*----- playlist -----*/

.secao-playlist {
    margin: 0px 40px;
}

.playlist {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.capa:target {
    display: block;
  }

.aviso {
    text-align: center;
}

.minha-lista {
    color: rgb(239,239,239);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    columns: 100px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.parte-1 {
    padding-right: 60px;
}

.parte-2 {
    padding-left: 60px;
}

.item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(239,239,239);
}

.capinha {
    width: 25px;
    padding-right: 35px;
}

/*----- rodape -----*/

footer {
    background-color: white;
    text-align: center;
    color: black;
}

h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 0;
}

span {
    color: red;
}